.run-code-btn {
  position: absolute;
  top: 0.5rem;
  right: 2.5rem;
  width: 0.6rem;
  height: 0.8rem;
  border-radius: 0.75rem;
  cursor: pointer;
  padding-left: 2px;
  color: var(--md-default-fg-color--lightest);
  transition: color .25s;
  z-index: 1;
}

.run-code-btn:focus, .run-code-btn:hover {
    color: var(--md-accent-fg-color);
}

.run-code-btn::after {
  display: block;
  background-color: currentcolor;
  width: 0.6rem;
  height: 0.8rem;
  margin: 3px auto;
  content: "";
  -webkit-mask-image: url('data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzODQgNTEyIj48cGF0aCBkPSJNNzMgMzljLTE0LjgtOS4xLTMzLjQtOS40LTQ4LjUtLjlTMCA2Mi42IDAgODBWNDMyYzAgMTcuNCA5LjQgMzMuNCAyNC41IDQxLjlzMzMuNyA4LjEgNDguNS0uOUwzNjEgMjk3YzE0LjMtOC43IDIzLTI0LjIgMjMtNDFzLTguNy0zMi4yLTIzLTQxTDczIDM5eiIvPjwvc3ZnPg==');
}

.run-code-title {
  margin-top: 0 !important;
  border-top: 0.05rem solid var(--md-default-fg-color--lightest)
}

.hide-code {
  margin: 0 !important;
  height: 0 !important;
  padding: 0 !important;
}

.cm-editor {
  background-color: var(--md-code-bg-color);
}
